<?xml version="1.0"?>

<robot xmlns:xacro="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface">
  <xacro:include filename="$(find imav_2017)/plugins/urdf/quadrotor_sensors.urdf.xacro" />
  <xacro:include filename="$(find imav_2017)/plugins/urdf/quadrotor_simple_controller.urdf.xacro" />

  <!-- Quadrotor Gazebo Plugins -->
  <xacro:macro name="quadrotor_plugins">
    <canonicalBody>base_link</canonicalBody>
    <quadrotor_sensors/>
    <quadrotor_controller/>
  </xacro:macro>
</robot>
