<?xml version="1.0"?>

<robot name="quadrotor" xmlns:xacro="http://wiki.ros.org/xacro" >

    <!-- Included URDF Files -->
    <xacro:include filename="$(find imav_2017)/urdf/quadrotor_base.urdf.xacro" />
    
    <!-- Instantiate quadrotor_base_macro once (has no parameters atm) -->
    <quadrotor_base_macro />

</robot>
